.pagetesthead {
  color: #f4e8e8;
}

main {
  max-width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4e8e8;
}

video {
  width: 100%;
  height: auto;
}

.album {
    margin-top: 100px;
}

.image-float {
    float: right;
    margin-right: -30px;
    margin-top: -10px;
}

.card-header {
    background-color: white;
    margin-bottom: 5px;
}

.card-text {
    margin-left: 15px;
    margin-top: 10px;
}

/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h5, h6 {
  font-family: "Grandstander", bold;
}

h1{
  color:#ff0000;
}

p, li, h4{
  font-family: 'Inter', sans-serif;
}

li a {
  color: black!important;
}

.link-secondary{
  color: black!important;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */

.top{ 
margin-top: 50px;
}

.testing{
  width:800px;
  margin: auto;
}

.divider{
  margin-top:5px;
  margin-bottom:5px;
  height:1px;
  width: 90%;
  margin: auto;
  border-top:1px solid gray;
 }

 button{
   background-color: #ff98c4;
   border: 1px solid #ff0000;
 }

 .col{
   background-color: white;
 }

 header .brand-logo {
  width: 190px;
  margin-bottom: 1em;
}

footer .brand-logo {
  width: 180px;
  margin-bottom: 1em;
}

 .gallery-grid .blocks-gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .gallery-grid .blocks-gallery-grid {
      grid-template-columns: repeat(2, 1fr)
  }
}

@media screen and (max-width: 576px) {
  .gallery-grid .blocks-gallery-grid  {
      grid-template-columns: repeat(1, 1fr)
  }
}

.gallery-grid .blocks-gallery-grid a {
  text-decoration: none;
}

.gallery-grid .blocks-gallery-grid li {
  list-style-type: none;
}

.team-image{
  width:300px;
  height:300px;
  margin-bottom: 1.5em;
}

.card-image{
  
}



