  <div class="divider"></div>
<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <img class="brand-logo" src="/_includes/assets/img/brand-logo-2.svg"/>
      <small class="d-block mb-3 text-muted">&copy; 2017–2021</small>
    </div>
    <div class="col-6 col-md">
      <h5>Connect</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Facebook</a></li>
        <li><a class="link-secondary" href="https://www.instagram.com/micro_investigators/">Instagram</a></li>
        <li><a class="link-secondary" href="#">Youtube</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Quick Links</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="https://enviroschools.org.nz/">EnviroSchools</a></li>
        <li><a class="link-secondary" href="https://icc.govt.nz/">Invercargill City Council</a></li>
      </ul>
    </div>    <div class="col-6 col-md">
      <h5> <a class="link-secondary" href="pages/contact.md">Contact Us</a></h5>
      <ul class="list-unstyled text-small">
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Team</a></li>
        <li><a class="link-secondary" href="#">Privacy</a></li>
      </ul>
    </div>
  </div>
</footer>

